
.header {
    background: url("../images/background.jpg") no-repeat;
    background-size: 100%;
}

.instructions {
    background: rgb(151,229,252);
}


.gems img {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 767px) {
    .game-heading {
        display: none;
    }

    .instructions {
        display: none;
    }

    .gems {
        text-align: center;
    }
}